header{
    padding: 20px 0;
    background-color: blue;
    text-emphasis-color: white;
}
header .logo{
  transform: rotate(-6deg);
  transition: all 0.3s ease;
}

header .logo:hover {
    transform: rotate(0 deg);
}

header.brand{
    font-size: 30px;
    color:#fff;
    font-weight: 700;
    font-family: 'Leckerli One', cursive;
    background-color:#2d2d2d;
    border-radius: 40px;
    border-bottom: 2px solid #6294de;
    text-shadow: 2px 2px 0px #000;
}

header .nav-link:hover{
    color:#fff;
}