header {
	padding: 20px 0;
	background-color: #000;
}

header .logo {
	transform: rotate(-6deg);
	transition: all 0.3s ease;
}

header .logo:hover {
	transform: rotate(0deg);
}

header .nav-link {
	font-weight: 700;
	color: #999;
	border-radius: 0;
	font-size: 14px;
}

header .nav-link:hover {
	color: #fff;
}

footer {
	padding: 40px 0 100px 0;
    background-color: #000;
}

footer .nav-link {
	color: rgba(255, 255, 255, 0.75);
	padding-left: 0;
	padding-right: 0;
	margin: 0 10px;
}

footer .nav-link:hover {
	color: #fff;
}

footer .nav-link.active {
	color: #fff;
	border-bottom: 1px solid #666;
}

footer .copyrights {
	color: rgba(255, 255, 255, 0.75);
	text-align: center;
	margin-top: 10px;
}

footer .copyrights a {
	color: rgba(255, 255, 255, 0.75);
}

footer .copyrights a:hover {
	color: #fff;
}